<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="header">Users by Edward Vargas</span>
</div>

<div class="content" role="main">
  <div class="card-data">
    <div *ngFor="let user of userList" class="card">
      <mat-accordion>
        <mat-expansion-panel  (click)="reverseExpand()"  hideToggle>
          <mat-expansion-panel-header [collapsedHeight]="'100px'">
            <mat-panel-title>
              <table class="headerTable">
                <tr>
                <td class="cardHeader">{{user.name}}</td>
              </tr>
              <tr>
                <td class="phoneNumber"><mat-icon aria-hidden="false" aria-label="">phone</mat-icon>{{user.phone}}</td>
                <td class="email"><mat-icon aria-hidden="false" aria-label="">email</mat-icon>{{user.email}}</td>
              </tr>
              </table>
            </mat-panel-title>
            <mat-panel-description class="alignRight">
                <mat-icon class="accordianArrow alignRight" [hidden]="expandAcc === true">keyboard_arrow_right</mat-icon>
                <mat-icon class="accordianArrow alignRight" [hidden]="expandAcc === false">keyboard_arrow_down</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table class="blackFont">
            <tr>
              <td><mat-icon> location_on</mat-icon></td><td><span >{{user.address.suite}} {{user.address.street}}</span></td>
            </tr>
            <tr>
              <td></td>
              <td> {{user.address.city}}</td>
              <td>{{user.address.zipcode}}</td>
            </tr>
          </table>
          <div class="borderBottom"></div>
          <table style="width: 90%;">
            <tr>
              <td class="blackFont">
                View Todos
              </td>
              <td class="alignRight">
                <mat-icon class="accordianArrow alignRight" (click)="openModal(user)"> arrow_right_alt</mat-icon>
              </td>
            </tr>
          </table>
          <!-- <p>View Todos</p><mat-icon class="accordianArrow"> arrow_right_alt</mat-icon> -->
        </mat-expansion-panel>
      </mat-accordion>
    </div>
</div>

</div>



<router-outlet></router-outlet>
